<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Book</h1>
    
        <%= render 'books/book', book: @book %>
       <div class="mt-3">
        <%= link_to "show", book_path(@book) %>
        |
        <%= link_to "back", books_path %>
       </div> 
  </div>
 </div>
</div>
